[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
black = "*"

[packages]
pylint = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scipy = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
